body {
    background-color: #000000;
}

#stopwatch {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 175px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

button {
    color: aqua;
    background-color: black;
    border: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 100px;
    padding: 1px;
}